html{
  background-color: palegoldenrod;
  font-family: sans-serif;
  font: helvetica;
}

header{
  background-color: firebrick;
  height: 133px;
  padding: 10px;
}

#lvlag{
  float: left;
}
#titel{
   color: gold;
   font-family: serif;
   font: garamond;
   text-align: center;
}
#rvlag{
  transform: scaleX(-1);
   float: right;
}
#ondertitel{
  background-color: crimson;
  color: snow;
}

h3{
  font-size: 1.5em;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h4{
  color: blue;
  font-family: serif;
  font: times new roman;
  font-size: 1.25em;
}

#weetjes{
  background-color: crimson;
  color: aliceblue;
}
#klein{
  width: 900px
}

aside{
  display: block;
  margin: auto;
  border-style: ridge;
  border-width: medium;
  border-radius: 18px;
  border-color: gold;
  width: 250px;
  background-color: maroon;
  color: ghostwhite;
  font-family: serif;
  font: garamond;
  float: right;
}

#wistudat{
  color: gold;
  font-family: serif;
  font: garamond;
}

#impressie{
  background-color: crimson;
  color: aliceblue;
}
#impressieboven{
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#impressieseconds{
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#impressietop{
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#meeuwis{
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  background-color: darkred;
  color: antiquewhite;
  height: 50px;
}
