/*  common */

/*  eerst alle default elementen
    zet het op een default element als dat kan, scheelt een hoop werk
    
    kijk ook naar de opmaak op print
 */
html, body{ /* size characters */
  color: #212121;
  height: 100%; /* for the sidebar height */
  line-height: 1.4; /* a bit more linespacing for readability*/ 
  background-color: black;
}
h1{ /* font definition */
  font-family: "Brush Script MT", cursive;
  font-size: 2.5rem;
}
h2, h3{ /* font definition */
  font-family: "Lucida Handwriting", cursive;
  font-size: 1.75rem;
}
h1,h2,h3,h4,h5,h6 {
  margin: 10px;
}
p {
  padding: 5px;
  margin: 10px;
}
img { /* restrict image width for text wrap around*/ 
  /* object-fit:cover; */
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

article {
  background-color: #80cbc4;
  padding: 5px;
  margin: 10px;
}
footer {
  background-color: #c8e6c9;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 25px;

}
/*  now specific classes */
.header {  
  background-color: #c8e6c9;
  text-align: center;
  width: 100%;
  height: 75px;
}
.header_image { 
  background-image: url(../img/centrum.jpeg);
  background-position: center;
  background-repeat: no-repeat;
}
/* center content ??? */
/* .content {
  display: table; margin: 0 auto; 
} */
.facts {
  background-color: #004d40;
  color: snow;
  /* min-width:fit-content; */
}
/* end common */
/*
  Als het in common kan staan moet het daar ook staan.
  Je probeert jezelf zo min mogelijk te herhalen, als je 2x
  text-align: left typt moet je je meteen afvragen of je dat 
  wel goed doet.

  Soms moet het inderdaad, maar dan moet je ook weten waarom ;)
  Als je er commentaar bijzet waarom je dingen doet kan je 
  meteen ook bepalen of je dingen weg kan halen.
 */


