/* small screen, fall back to default */
@media only screen and (max-width: 767px){
  [class*="col-"]{
      width: 100%;
      float: none;
  }

 body{
    background-color: black;
  }

  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

/*  common */
 html, body{
  color: #212121;
  line-height: 1.4;
  background-color: black;
}

h1{
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
}

h2, h3{
  font-family: 'Courgette', cursive;
  font-size: 1.75rem;
}

h1,h2,h3,h4,h5,h6 {
  margin: 10px;
}

p {
  padding: 5px;
  margin: 10px;
}

img {
  max-width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

article {
  background-color: #80cbc4;
  padding: 5px;
  margin: 10px;
}

.header {
  background-color: #c8e6c9;
  text-align: center;
  width: 100%;
  height: 75px;
  top: 0;
}

.header_image {
  background-image: url(../img/centrum.jpeg);
  background-position: center;
  background-repeat: no-repeat;
}

.facts {
  background-color: #004d40;
  color: snow;
  padding: 5px;
  margin: 10px;
}

footer {
  background-color: #c8e6c9;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 25px;
  bottom: 0;
}

/* large screen */
@media only screen and (min-width: 768px) {
  html,body {
    background-color: aliceblue;
  }

  [class*="col-"] {
    float: left;
    padding-top: 5px;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .header{
    position: fixed;
    top: 0;
  }

  .content{
    padding-top:75px;
    margin: 5px;
  }

  .end{
    padding-bottom: 30px;
  }

  article{
    float: left;
  }

  img {
    max-width: 60%;
    float: right;
    display: inline;
    margin: 0 1rem 0 1rem;
    object-fit:cover;
  }

  footer{
    bottom: 0;
    position: fixed;
  }
}
