table{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-collapse: collapse;
}

thead{
  color: white;
  background-color: #006400;
  text-decoration: underline;
}

tfoot{
  color: white;
  background-color: #006400;
}

.one{
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.year{
  width: 20%;
}

.booktitle{
  width: 80%;
}

.one th, .one tr, .one td{
  padding: 7px;
  border: solid;
  border-color: #006400;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px;
  text-align: center;
}

.collabtitle{
  width: 50%
}

.whom{
  width: 30%;
}

.two{
  width: 100%;
}

.two th, .two tr, .two td{
  padding: 7px;
  border: solid;
  border-color: #006400;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px;
  text-align: center;
}

.three{
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.award{
  width: 80%;
}

.three th, .three tr, .three td{
  padding: 7px;
  border: solid;
  border-color: #006400;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px;
  text-align: center;
}

.four{
  width: 600px;
  border: 0;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select, button{
  margin: 15px 0px;
  width: 400px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px;
}

textarea{
  margin: 15px 0px;
  padding: 5px 4px;
  width: 400px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px;
}

button:active{
  background-color: darkgreen;
  color: white;
  border-radius: 4px;
  box-shadow: inset 2px 2px 5px;
}
